/* Reset básico */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body ,button,select{ 
    /*Cambiada la fuente*/
    background-color: #181818;
    color: #CCCCCC;
    outline: none;
    border: none;
    font-family: "Kanit", sans-serif;
}

body {
    font-size: 1.6rem;
}

a {
    color: #359DFC;
    text-decoration: none;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #232323;
}

::-webkit-scrollbar-thumb{
    background:#181818 ;
    border-radius: 50px;
}

/* Superior de la pestaña -D*/
#header_visual {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
}

#header_visual nav input {
    border: 2px solid #2A2A2A;
    border-radius: 5px;
    text-align: center;
    background-color: #242424;
    outline: none;
    color: #CCCCCC;
}

/* Modifique el estilo del apartado de options (Ramiro 23/05/2024) */
#options {
    margin-left: 1rem;
}

#options ul{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
    height: 100%;
    font-weight: 900;
    justify-content: space-between;
}

#options ul li:first-child {
    margin-right: 0.5rem;
    height: 2.3rem;
}

#options ul button {
    font-size: 1.3rem;
    padding: 0 0.8rem;
}

/* List Items */
#options li,
.windows li,
#textarea header ul,
#textarea nav ul,
footer ul {
    display: inline-block;
    list-style: none;
}

#textarea header ul,
footer ul {
    display: flex;
    justify-content: space-between;
}

#textarea nav ul {
    display: flex;
    justify-content: start;
}

#search,.windows{
    /*alineados elementos search y windows -D*/
    display: flex;
    align-items: center;
}

.windows svg{
    /*Cambiada el espaciado entre iconos y alineacion -D*/
    margin-right: 0.2rem;
    margin-top: 0.8rem;
    height: 2.3rem;
}
#search svg,#notificaciones,#errores{
    margin-right: 0.4rem;
}

main {
    display: flex;
    height: calc(100vh - 10vh); /* Ajuste para incluir header y footer -D*/
}

/* Barra lateral izquierda */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px solid #2B2B2B;
    min-width: 5rem; /*Primer implementacion de  Resize -D*/
    overflow: auto;
    resize: horizontal;
}


.sidebar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #868686;
    gap: 1.8rem;
    margin: 1rem 1rem 1rem 1rem;
}

svg,#header_visual nav input{
    cursor: pointer;
}

/* Explorador de archivos -D*/
#explorer {
    width: 20%;
    border: 1px solid #2B2B2B;
    padding-left: 1rem;
    min-width: 16rem;
    overflow: auto;
    resize: horizontal;
}

#explorer ul {
    list-style: none;
}

#explorer header {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

/* Parte grande */
#textarea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #2B2B2B;
}

#textarea header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #2B2B2B;
}

#ruta {
    height: 5vh;
}

#editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100%); /* Ajuste para evitar el espacio -D*/
    resize: none;
    outline: none;
    border: none;
    background-color: #1F1F1F;
    
}




/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border: 1px solid #2B2B2B;
    background-color: #181818;
}

footer ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

footer li {
    display: inline-block;
}
